# maven
/target
/app/target
/app-packager/target

# eclipse
/.settings
/.classpath
/.project

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# more
/.cached
bak/
scenicview.jar
scenicView.properties
/app/template/mindmap/dist/dev.html
/app/template/mindmap/dist/index.html
