:root {
    --font-family: tibetan, AUTO;
}
@font-face {
  font-family: 'AUTO';
  src: local('PingFang SC'),
       local("Hiragino Sans GB"),
       local("Heiti SC"),
       local("Microsoft YaHei"),
       local("WenQuanYi Micro Hei"),
       local("STXihei"),
       local("Arial"),
       local("Helvetica Neue"),
       local("Helvetica"),
       local("sans-serif");
}
@font-face {
  font-family: 'tibetan';
  src: url('tibetan.ttf');
  unicode-range: U+0F00-0FFF;
}

mark, .highlight {
    background: #ff8;
    color: black;
}
mark.active, .highlight.active {
    background: #ffd71b;
    color: black;
}

blockquote{
    display:block;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    text-align: justify;

    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;

    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
    content: "\201C";
    font-size: 2.5rem;
    font-weight: bold;
    position: absolute;
    left: 0px;
    top: 5px;
}
